nav {
    background: $dark;
    @include media-breakpoint-up(lg) {
        z-index: 300;
        background-color: transparent;
    }

    a {
        display: block;
        padding: 0 50px 0 18px;
        color: #f7f7f7;
        line-height: 49px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        @include media-breakpoint-up(lg) {
            line-height: 1.5;
            padding: 15px;
        }
    }
    ul {
        background: $dark!important;
        list-style-type: none;
        margin: 0;
        @include media-breakpoint-up(lg) {
            height: 54px; // lg only sm no effect
        }
        li {
            width: 100%;
            height: auto;
            border-top: 1px solid $light;
            min-height: 50px;
            position: relative;
            display: block;
            float: left;
            @include media-breakpoint-up(lg) {
                width: auto;
                border: none;
                white-space: nowrap;
                &:hover > ul {
                    display: block;
                    
                }
            }
            ul {
                display: none;
                margin-left: 0;
                padding-left: 0;
                @include media-breakpoint-up(lg) { 
                    position: absolute;
                    clear:both;
                }

                li { /* level 2 */
                    margin:0;
                    width: 100%; /* submenu width fix */
                    @include media-breakpoint-up(lg) { 
                        width: 100%;
                    }
                }
    
                ul {
                    @include media-breakpoint-up(lg) { 
                        position: absolute;
                        left: 100%;
                        top: 0px;
                    }
                    margin-left: 0;
                    
                    li { /* level 3 */
                        width: 100%;
                        display: block;
                        float: none;
                    }
                }
            }
        }
    }
}

nav  {
    > ul {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        transition: 0.3s;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        > div {
            > li {
                > ul {
                    @include media-breakpoint-up(lg) { 
                        z-index: 275;
                    }
                    > li {
                        > a {
                            
                            @include media-breakpoint-down(md) { //down only
                                padding: 0 50px 0 36px;
                            }
                        }
    
                        ul > {
                            @include media-breakpoint-up(lg) { 
                                z-index: 250;
                            }
                            li {
                                > a {
                                    @include media-breakpoint-down(md) { //down only
                                        padding: 0 50px 0 72px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:last-child {
                border-bottom: 1px solid $light;
                @include media-breakpoint-up(lg) { 
                    border: none;
                }
            }
        }
    }
}

.children {
    @include media-breakpoint-up(lg) { 
        height: auto;
        background: red!important;
        box-shadow: 0 1px 9px 2px rgba(0,0,0,1.1);
    }
}
.dropdown {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid $light;
    transition: all .25s ease-in-out;
    &:before {
        content: '\25BC';
    }
    &.active {
        &:before {
            content: '\25B2';
        }
    }
    @include media-breakpoint-up(lg) { 
        display: none;
    }
}